.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;

}
.fade.in {
    opacity: 1;
}
.modal {
    background-color: #009688a8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    /*overflow: hidden;*/
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.text-center {
    text-align: center;
}

.modal-content {
    width: 80%;
    margin: 50px auto;
    padding: 70px 0;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
}
.btn-close-modal-info{
   visibility: hidden;
}
.rules-info{
    text-align: left;
    padding-left: 15px;
}

.infoPicsModal img{
    width: 90%;
}

